{% extends 'layout.html' %}

{% block title %}
    <title>Change Password</title>
{% endblock %}


{% block style %}
    <style>
        .row {padding: 50px; text-align: center;}
    </style>    
{% endblock %}

{% block script %}
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <form action="{{ url_for('changepassword') }}" method="POST">
                <div class="form-group">
                    <label for="password"><span class="requirement">*</span>Type New Password</label>
                    <input type="password" class="form-control" placeholder="password" id="password" name="password" autofocus autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password1"><span class="requirement">*</span>Confirm New Password</label>
                    <input type="password" class="form-control" placeholder="re-type password" id="password1" name="password1">
                </div>
                <button type="submit" class="btn btn-primary">Change</button>
            </form>
            {% if change_password_error %}
                <div class="error_message">
                    {{ change_password_error }}
                </div>
            {% else %}
                <br>
            {% endif %}
        </div>
        <div class="col-lg-4">

        </div>
    </div>
{% endblock %}