{% extends 'layout.html' %}

{% block title %}
    <title>Recover Password</title>
{% endblock %}


{% block style %}
    <style>
        .row {padding: 50px; text-align: center;}
    </style>    
{% endblock %}

{% block script %}
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <form action="{{ url_for('forgotpassword') }}" method="POST">
                <div class="form-group">
                    <label for="username"><span class="requirement">*</span>Username or Email Address</label>
                    <input type="text" class="form-control" placeholder="username/email" id="username" name="username" autofocus autocomplete="off">
                </div>
                <button type="submit" class="btn btn-primary">Recover</button>
            </form>
            {% if fp_error %}
                <div class="error_message">
                    {{ fp_error }}
                </div>
            {% else %}
                <br>
            {% endif %}
        </div>
        <div class="col-lg-4">

        </div>
    </div>
{% endblock %}