{% extends "layout.html" %}

{% block title %}
    <title>Email Verification</title>
{% endblock %}
{% block style %}
    <style>
        #verification {padding: 50px; text-align: center;}
        #verification_message {text-align: center;}
    </style>
{% endblock %}

{% block script %}
{% endblock %}


{% block body %}    
    <div id="verification" class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <form action="{{ url_for('fp_verification') }}" method="POST">
                <div class="form-group">
                  <label for="code"><span class="required">*</span>Verification Code</label>
                  <input type="text" class="form-control" id="code" name="code" autofocus placeholder="Verification Code">
                </div>
                <button type="submit" class="btn btn-primary">Verify</button>
            </form>
            <div class="error">
                {% if fp_verification_error %}
                    {{ fp_verification_error }}
                {% else %}
                    <br>
                {% endif %}
            </div>            
            <a href="{{ url_for('logout') }}">Cancel</a><br>
            <a href="{{ url_for('fp_resend_verification_code') }}">Resend Verification Code</a>
        </div>
        <div class="col-lg-4">

        </div>        
    </div>
    <div id="verification_message">
        <p>A verification code was sent to {{ email }}. Please check your inbox/spam folder.</p>
    </div>
    
{% endblock %}